{% load static %}

<div>
    {% for post in posts %}
        <br>
        <div class="post">
            <br>
            <div class="author"><a href="{% url 'profile' id=post.author.id %}" >{{ post.author.username }}</a></div>

            <div class="picture"><img src="{{ post.picture.url }}" alt="Not found" class="picture" ><br></div>
            <div class="pub_date">{{ post.pub_date }}<br></div>
            <div class="post_text">{{ post.text }}<br></div>

            <div class="wrapper">
                <form action="{% url 'comments' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit">Show all comments</button>
                </form>

                <form action="{% url 'like-post' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    {% if user not in post.liked.all %}
                        <button type="submit" style="background: white;">Like</button>
                    {% else %}
                        <button type="submit" style="background: red;">Unlike</button>
                    {% endif %}
                    <strong>{{ post.liked.all.count }}</strong>
                </form>
            </div>

            {% for comment in post.comments %}
                <div class="comment">
                    <a class="comment_author" href="{% url 'profile' id=comment.user.id %}">{{ comment.user.username }}</a>
                    {{ comment.comment_text }}<br>
                </div>
                <br>
            {% endfor %}

        </div>
    {% endfor %}
</div>