{% load static %}

<div>
    {% for post in posts %}
        <br>
        <div class="post">
            <br>
            <div class="author"><a href="{% url 'profile' id=post.author.id %}" >{{ post.author.username }}</a></div>
            <hr>
            <div class="picture"><img src="{{ post.picture.url }}" alt="Not found" class="picture" ><br></div>
            <div class="pub_date">{{ post.pub_date }}<br></div>
            <hr>
            <div class="post_text">{{ post.text }}<br></div>
            <div class="wrapper">
                <form action="{% url 'like-post' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    {% if user not in post.liked.all %}
                        <button type="submit" class="like_button">
                            <i class="far fa-heart"></i>
                        </button>
                    {% else %}
                        <button type="submit" class="like_button">
                            <i class="fas fa-heart"></i>
                        </button>
                    {% endif %}
                    {% if post.liked.all.count == 1 %}
                        <strong>{{ post.liked.all.count }} like</strong>
                    {% else %}
                        <strong>{{ post.liked.all.count }} likes</strong>
                    {% endif %}
                </form>
            </div>
            <hr>
            {% for comment in post.comments %}
                <div class="comment">
                    <a class="comment_author" href="{% url 'profile' id=comment.user.id %}">{{ comment.user.username }}</a>
                    {{ comment.comment_text }}<br>
                </div>
            {% endfor %}
            <div class="wrapper">
                <form action="{% url 'comments' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit" class="comment_button">Show all comments</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>