{% load static %}

<div>
    {% for post in posts %}
        <a href="{% url 'profile' id=user.id %}">{{ post.author.username }}</a><br>
        {{ post.text }}<br>
        <img src="{{ post.picture.url }}" alt="Not found" style="width: 200px;"><br>
        {{ post.pub_date }}<br>
        Comments
        <br>
            {% for comment in post.comments %}
                {{ comment.user.username }}<br>
                {{ comment.comment_text }}<br>
            {% endfor %}

        <br>
        ------------------------------------------------------------------------------------
        <form action="{% url 'comments' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <button type="submit">Show all comments</button>
        </form>

        <form action="{% url 'like-post' %}" method="post">
        {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            {% if user not in post.liked.all %}
                <button type="submit" style="background: white;">Like</button>
            {% else %}
                <button type="submit" style="background: red;">Unlike</button>
            {% endif %}
        </form>
        <strong>{{ post.liked.all.count }}</strong>


        <br>
    {% endfor %}
</div>