<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pass change </title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.old_password }}<br>
        {{ form.old_password.errors }}<br>
        {{ form.new_password1 }}<br>
        {{ form.new_password1.errors }}<br>
        {{ form.new_password2 }}<br>
        {{ form.new_password2.errors }}<br>
        <button type="submit">Update</button>
    </form>
</body>
</html>