.navbar-text {
    text-decoration: none;
}

.navbar-brand {
    margin-left: 10%;
}

body {
    background: dimgrey;
}

.feed {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

.post {
    display: flex;
    border: thin solid whitesmoke;
    flex-direction: column;
    color: whitesmoke;
}

.picture {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.wrapper {
    display: flex;
    margin-left: 5%;

}

a {
    color: whitesmoke;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.author {
    margin-left: 10%;
}

.pub_date {
    margin-left: auto;
}

.post_text {
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

.comment {
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
}

.comment_author {
    font-weight: bold;
    text-decoration: none;
}

.comment_author:hover {
    font-weight: bold;
    text-decoration: none;
}